################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FooFramework/.vs/FooFramework/v14
/FooFramework/FooFramework/.vs/FooFramework/v14/.suo
/FooFramework/FooFramework/bin/Debug
/FooFramework/FooFramework/obj/Debug
/TemperatureAlarm/.settings
/TemperatureAlarm/.vs/TemperatureAlarm/v14
/TemperatureAlarm/Research
/TemperatureAlarm/TemperatureAlarm/bin/Debug
/TemperatureAlarm/TemperatureAlarm/obj/x86/Debug
/TemperatureAlarm/TemperatureAlarm.userprefs
